# Rename this file to .env and update all {} fields with the correct information

CORE_DATABASE_URL="mysql://{user}:{password}@{ip}:3306/cat_twenty_control_db"
ONLINE_PAYMENT_DATABASE_URL="mysql://{user}:{password}@{ip}:3306/online_payment"
