# Rename this file to .env and update all fields with the correct data

NEXTAUTH_SECRET=<SECRET_STRING>

# Database
CORE_DATABASE_URL="mysql://{user}:{password}@{ip}:3306/cat_twenty_control_db"
ONLINE_PAYMENT_DATABASE_URL="mysql://{user}:{password}@{ip}:3306/online_payment"

# Email
EMAIL_SERVER_USER=<SMTP_USERNAME>
EMAIL_SERVER_PASSWORD=<SMTP_PASSWORD>
EMAIL_SERVER_HOST=<SMTP_HOST>
EMAIL_SERVER_PORT=<SMTP_PORT>
EMAIL_FROM=<SMTP_EMAIL>

