<div class="container">

    <mat-card class="example-card" class="col-md-12">
        <mat-card-header>
            <mat-card-title>La`s Complain</mat-card-title>
            <mat-card-subtitle>Customer Complains
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>


    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <mat-table matSort [dataSource]="dataSource">
  
          <!-- Name Column -->
          <ng-container matColumnDef="online_complain_id">
            <mat-header-cell mat-sort-header *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.online_complain_id}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="fullname">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fullname}} </mat-cell>
          </ng-container>
  
  
          <!-- Name Column -->
          <ng-container matColumnDef="mobile">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Mobile Number </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="online_complains">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Complain </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.online_complains}} </mat-cell>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="online_complain_date">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.online_complain_date | date:'yyyy / MM / dd'}} </mat-cell>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="statuss">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.statuss}} </mat-cell>
          </ng-container>
  
          <!-- Position Column -->
          <!-- <ng-container matColumnDef="idJob">
            <mat-header-cell mat-sort-header *matHeaderCellDef>More Info</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-raised-button value="{{element.idJob}}" (click)="select(element)">
                More Info
              </button></mat-cell>
          </ng-container> -->
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>