<div class="container">
    <div class="col-md-12">
        <mat-tab-group>
            <mat-tab label="අයදුම්පත් ">
                <mat-card>
                    <mat-card-title>
                        ජල බවුසරය ලබාගැනීම සඳහා මිළ ගණන්
                    </mat-card-title>
                    <mat-card-content>
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ජල බවුසර් වර්ගය </th>
                                <th>නගර සීමාව තුල ගාස්තු </th>
                                <th>නගර සීමාවෙන් පිටත </th>
                                <th>බවුසරය තබාගැනීමේ ගාස්තු </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label>4000 L</label> </td>
                                    <td><label>1200</label> </td>
                                    <td><label>කි.මී. 1 ක් සඳහා රු 100</label> </td>
                                    <td>
                                        <p>පැය 12 සඳහා රු 500
                                            පැය 24 සඳහා රු 1000
                                            පැය 24 ට වඩා වැඩිවන සෑම පැය 12 කටම රු 1000
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>6000 L</label> </td>
                                    <td><label>2000</label> </td>
                                    <td><label>කි.මී. 1 ක් සඳහා රු 100</label> </td>
                                    <td>
                                        <p>පැය 12 සඳහා රු 500
                                            පැය 24 සඳහා රු 1000
                                            පැය 24 ට වඩා වැඩිවන සෑම පැය 12 කටම රු 1000
                                        </p>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td><label>රාජ්‍ය ආයතන </label> </td>
                                    <td><label>6000.00</label> </td>
                                    <td><label>7000.00</label> </td>
                                    <td><label>100.00</label> </td>
                                </tr>
                                <tr>
                                    <td><label>පුජනීය ස්ථාන </label> </td>
                                    <td><label>500.00</label> </td>
                                    <td><label>500.00</label> </td>
                                    <td><label>100.00</label> </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </mat-card-content>
                    <mat-card-footer>
                        <div class="row">
                            <div class="col-md-12">1. ජල බවුසර් ලබාගැනීමේදී ඔබට ලබාගත හැක්කේ ජලය රහිත බවුසරයක් පමණි
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">2. 6000L ජල බවුසරය තබාගැනීමේ හැකියාවක් නැති අතර 4000L ජල බවුසරය තබාගත
                                හැකිය.</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">3. 6000L ජල බවුසරය සඳහා පමණක් ජල පොම්පයක් සවිකර ඇත.</div>
                        </div>
                    </mat-card-footer>
                </mat-card>
                <mat-card>
                    <mat-card-title>
                        ජල බවුසරය අයඳුම් කිරීම </mat-card-title>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div *ngIf="type == '1'">
                                <img class="imgs" src="https://chilawuc.cat2020.org/sl_img/2.jpeg">&nbsp;&nbsp;
                            </div>
                            <div *ngIf="type == '2'">
                                <img class="imgs" src="https://chilawuc.cat2020.org/sl_img/1.jpeg">&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <mat-form-field class="col-md-4">
                        <mat-label>ජල බවුසර් වර්ගය</mat-label>
                        <mat-select required [(ngModel)]="type">
                            <mat-option *ngFor="let i of types" [value]="i.wb_type_id">{{i.wb_type_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- <mat-form-field class="col-lg-8 col-md-12">
                        <mat-label>සේවාව අවශ්‍ය දිනය</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field> -->

                    <mat-form-field class="col-md-4">
                        <input required [(ngModel)]="adress" matInput type="text"
                            placeholder="සේවාව ලබාගැනීමට අවශ්‍ය ස්ථානය" />
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <input required [(ngModel)]="reason" matInput type="text"
                            placeholder="ජල බව්සරය අවශ්‍ය කාරණාව " />
                    </mat-form-field>
                    <br>
                    <mat-radio-group [(ngModel)]="rad" aria-label="" class="col-md-4"
                        title="නගර සභා සීමාව තුල හෝ පිටතද යන වග ">
                        <label>නගර සභා සීමාව තුල</label>
                        <mat-radio-button value="1" title="නගර සභා සීමාව තුල " (click)="falses()"></mat-radio-button>
                        <label>නගර සභා සීමාව පිටතද</label>
                        <mat-radio-button value="2" title="නගර සභා සීමාව  පිටත" (click)="trues()"></mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field class="col-md-4" *ngIf="visible" >
                        <input required [(ngModel)]="distance" matInput type="text"
                            placeholder="නගර සභා සීමාවෙන් පිටත නම් නගරයේ සිට ඇති දුර කි.මී" />
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <label>ජල බවුසරය අවශ්‍ය වෙලාව</label>
                        <input required [(ngModel)]="sttime" matInput type="datetime-local" placeholder="start date">
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <label>ජල බවුසරය කාරිය අවසන් වන වෙලාව</label>
                        <input required [(ngModel)]="endtime" matInput type="datetime-local" placeholder="start date">
                    </mat-form-field>

                    <mat-card-actions align="end">
                        <button class="block" mat-raised-button color="primary" type="submit" (click)="saveBasic()">Save
                            Data</button>
                    </mat-card-actions>
                </mat-card>
            </mat-tab>
            <mat-tab label="අනුමත කිරීම සදහා යොමු කිරීම">
                <mat-card>
                    <mat-card-title>
                        <!-- ස්ථානය හා ස්වභාවය අනුව සේවාව සදහා අයකිරිම් -->
                    </mat-card-title>
                    <mat-card-content>
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ඉල්ලුම්පත් අංකය</th>
                                <th>දිනය </th>
                                <th>සේවාව ලබාගන්නා ස්ථානය</th>
                                <th>ජල බවුසර් වර්ගය </th>
                                <th>more</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of userpending_list;">
                                    <td><label>{{item.wb_detail_id}}</label> </td>
                                    <td><label>{{item.wb_date}}</label> </td>
                                    <td><label>{{item.wb_location}}</label> </td>
                                    <td><label>{{item.wb_type_name}}</label> </td>
                                    <td><span class="material-icons"
                                            (click)="moreby_id(item.wb_detail_id)">read_more</span> </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <hr>
                        <div *ngIf="condition">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>ඉල්ලුම්පත් අංකය</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{moreappid}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>අයඳුම් කල දිනය </label>
                                        </div>
                                        <div class="col-md-6">
                                            {{moredate}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>සේවා අවශ්‍ය දිනය</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{moredate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>ජල බවුසර් වර්ගය</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{moretype}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>සේවා ලබාගැනීමට අවශ්‍ය ස්ථානය </label>
                                        </div>
                                        <div class="col-md-6">
                                            {{moreadress}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>ජල බවුසරය අවශ්‍ය කාරණාව</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{morereason}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>නගර සීමාවෙන් පිටත නම් ඇති දුර කි.මී</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{moredistance}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>ජල බවුසරය තබාගැනීමට අවශ්‍ය කාලය</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{moretime}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>ජල බවුසරය අවශ්‍ය වෙලාව</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{moresttime}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>ජල බවුසරය කාරිය අවසන් වන වෙලාව</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{moreendtime}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>