<div class="container">
    <div class="col-md-12">
        <br>
        <div>
            <button mat-raised-button color="primary" [routerLink]="['/v/fullinfo/',basicID]"> <span
                    class="material-icons">
                    arrow_back
                </span> Back Vehicle Info </button>
        </div>
        <br>

        <mat-card>
            <mat-card-title>Servicing</mat-card-title>
            <mat-card-subtitle>Vehicle : {{number}}</mat-card-subtitle>
            <hr>
            <mat-card-content>

                <mat-form-field class="col-md-4">
                    <mat-label>Service Date </mat-label>
                    <input required matInput [matDatepicker]="fromd" [(ngModel)]="date">
                    <mat-datepicker-toggle matSuffix [for]="fromd"></mat-datepicker-toggle>
                    <mat-datepicker #fromd></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <mat-label>Service Type</mat-label>
                    <mat-select required [(ngModel)]="selectedType">
                        <mat-option *ngFor="let i of typess" [value]="i.idServiceType">{{i.types}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input required matInput type="number" placeholder="Milometer Reading" [(ngModel)]="meeter" />
                </mat-form-field>


                <mat-form-field class="col-md-4">
                    <input required matInput type="text" placeholder="Oil or Part Name" [(ngModel)]="name" />
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input required matInput type="text" placeholder="Quntity" [(ngModel)]="qty" />
                </mat-form-field>

                <mat-form-field class="col-md-4">
                    <input required matInput type="number" placeholder="Price" [(ngModel)]="value" />
                </mat-form-field>

                <button mat-raised-button (click)="addParts()"> Add </button>

                <br>
                <br>
                <div *ngFor="let i of partsList">
                    <mat-card>
                        <mat-card-content>
                            <p>Name : {{i.name}} Qty : {{i.qty | number}} Value : {{i.value | number}} </p>
                            <button mat-button (click)="remove(i)"> <span class="material-icons">
                                    highlight_off
                                </span> Remove </button>
                        </mat-card-content>
                    </mat-card>
                    <br>
                </div>

                <br>

                <h4>Total : {{total}}</h4>

                <mat-form-field class="col-md-12" *ngIf="idService && status ===1">
                    <textarea matInput type="text" placeholder="Comment For Deactive" [(ngModel)]="deactiveComment"
                        (ngModelChange)="anable()"></textarea>
                </mat-form-field>

                <mat-card-actions align="end">
                    <button *ngIf="!idService" class="block" mat-raised-button color="primary"
                        (click)="save()">Save</button>

                    <button *ngIf="idService && status ===1 && !anableDeactive " class="block" mat-raised-button
                        color="warn" disabled (click)="deactive()">Deactive</button>

                    <button *ngIf="idService && status ===1 && anableDeactive" class="block" mat-raised-button
                        color="warn" (click)="deactive()">Deactive</button>

                    <button *ngIf="idService" class="block" mat-raised-button (click)="clearItem()">Clear</button>

                </mat-card-actions>

            </mat-card-content>
        </mat-card>



    </div>
    <br>
    <div class="col-md-12">

        <div class="mat-elevation-z8">
            <!-- <br> -->

            <div class="col-md-12">
                <mat-slide-toggle color="primary" [(ngModel)]="active" (ngModelChange)="filterDeactive()"> Filter
                    Deactive</mat-slide-toggle>
                <mat-form-field class="col-md-6">
                    <input matInput (keyup)="applayFilter($event.target.value)" type="text" [(ngModel)]="inputval"
                        placeholder="Search Here" />
                </mat-form-field>
            </div>

            <mat-table matSort [dataSource]="dataSource">
                <!-- Position Column -->

                <ng-container matColumnDef="types">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Type</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.types}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Date</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date | date:'yyyy-MM-dd'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="meeter">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Meeter</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.meeter }} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="total">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Total</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.total }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="idService">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Select</mat-header-cell>
                    <mat-cell *matCellDef="let element"><button mat-raised-button
                            (click)="select(element)">Select</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>