<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <div>
                <!-- <img mat-card-image src="assets/images/mck.jpg" alt="Photo of a Shiba Inu"> -->
            </div>
        </mat-toolbar>
        <div style="text-align: center;">
            <img [src]="LOGO" width="140px">
        </div>
        <br>
        <mat-nav-list>


            <div *ngIf="privilages && getUserType()">
                <div *ngFor="let privilage of privilages">
                    <div *ngIf="privilage.type=='normal'">
                        <a color="primary" mat-list-item routerLink={{privilage.routerLink}}
                            Active="router-link-active">
                            <mat-icon color="primary">{{privilage.image}}</mat-icon>{{privilage.caption}}
                        </a>
                    </div>
                    <div *ngIf="privilage.type=='main'">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon color="primary">{{privilage.image}}</mat-icon>{{privilage.caption}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div *ngFor="let sub of privilage.sub">
                                <a color="primary" mat-list-item routerLink={{sub.routerLink}}
                                    Active="router-link-active">
                                    <mat-icon color="primary">{{sub.image}}</mat-icon>{{sub.caption}}
                                </a>
                            </div>
                        </mat-expansion-panel>
                    </div>

                </div>
            </div>

            <div *ngIf="!getUserType()">

                <div>
                    <a color="primary" mat-list-item [routerLink]="['/onhome']" Active="router-link-active">
                        <mat-icon color="primary">home</mat-icon>&nbsp;&nbsp; Home
                    </a>
                    <a color="primary" mat-list-item [routerLink]="['/oninfo']" Active="router-link-active">
                        <mat-icon color="primary">live_help</mat-icon>&nbsp;&nbsp; Support Info
                    </a>
                    <a color="primary" mat-list-item [routerLink]="['/pmap']" Active="router-link-active">
                        <mat-icon color="primary">read_more</mat-icon>&nbsp;&nbsp; Map Property
                    </a>
                    <a color="primary" mat-list-item [routerLink]="['/street']" Active="router-link-active">
                        <mat-icon color="primary">edit_road</mat-icon>&nbsp;&nbsp; Street Line
                    </a>
                    <a color="primary" mat-list-item [routerLink]="['/slcom']" Active="router-link-active">
                        <mat-icon color="primary">edit_road</mat-icon>&nbsp;&nbsp; SL Complain
                    </a>
                    <a color="primary" mat-list-item [routerLink]="['/onhome']" Active="router-link-active">
                        <mat-icon color="primary">fact_check</mat-icon>&nbsp;&nbsp; Bop
                    </a>
                    <a color="primary" mat-list-item [routerLink]="['/onhome']" Active="router-link-active">
                        <mat-icon color="primary">history</mat-icon>&nbsp;&nbsp; Pay History
                    </a>
                    <a color="primary" mat-list-item [routerLink]="['/ongully']" Active="router-link-active">
                        <mat-icon color="primary">history</mat-icon>&nbsp;&nbsp; Gully
                    </a>
                    <a color="primary" mat-list-item [routerLink]="['/onwater']" Active="router-link-active">
                        <mat-icon color="primary">history</mat-icon>&nbsp;&nbsp; Water
                    </a>
                    <a color="primary" mat-list-item [routerLink]="['/onpay']" Active="router-link-active">
                        <mat-icon color="primary">Payment</mat-icon>&nbsp;&nbsp; Payment
                    </a>
                    <a color="primary" mat-list-item [routerLink]="['/complain']" Active="router-link-active">
                        <mat-icon color="primary">history</mat-icon>&nbsp;&nbsp; Complains
                    </a>

                </div>

            </div>


        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="navbar">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>{{name}}</span>
            <span class="flex-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                class="menuButton">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-toolbar>
        <mat-menu #menu="matMenu" class="manuitem">

            <!-- <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>

      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button> -->

            <button mat-menu-item [routerLink]="['/login']" routerLinkActive="router-link-active" *ngIf="!isLogin">
                <mat-icon>lock_open</mat-icon>
                <span>Login</span>
            </button>
            <button mat-menu-item (click)="logOut()" *ngIf="isLogin">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
        <!-- Add Content Here -->
        <div id="main-contener">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>