.sidenav-container {
    height: 100%;
}

#main-contener {
    height: 90vh;
}

.sidenav {
    width: 225px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

#main-contener {
    padding: 10px;
}


/* .navbar{
  justify-content: space-between;
} */

.example-spacer {
    flex-grow: 1;
}

.menuButton {
    right: 5px;
}

.manuitem {
    width: 0%;
}


/* mat-sidenav {
    background-color: rgb(97, 97, 97);
    width: 200px;
} */


/* mat-expansion-panel-header {
    background-color: rgb(92, 107, 192)
} */