<div class="container">


    <mat-tab-group mat-align-tabs="left">
        <mat-tab label="Application">
            <br>
            <mat-card class="example-card" class="col-md-12">
                <mat-card-header>
                    <mat-card-title>Street Line Application</mat-card-title>
                    <!-- <mat-card-subtitle>You Have to map your assessment property with your online account befor online
                payment
            </mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>

                    <mat-form-field class="col-md-12">
                        <input matInput type="text" [readonly]="true" id="owner" name="owner" required placeholder="සහතික හිමිකරුගේ නම (Certificate Owner Name)"
                            [(ngModel)]="applicantName" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-md-12">
                        <input matInput type="text" [readonly]="true" id="owneradd" name="owneraddress" required
                            placeholder="සහතික හිමිකරුගේ ලිපිනය (Certificate Owner Address)" [(ngModel)]="appAddress" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-md-12">
                        <input matInput type="text" [readonly]="true" id="planno" name="planno" required placeholder="සැලසුම් අංකය (Plan No)"
                            [(ngModel)]="planno" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-md-12">
                        <input matInput type="text" [readonly]="true" id="plandate" name="plandate" required
                            placeholder="සැලසුම් දිනය (Plan Date)" [(ngModel)]="plandate" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-md-12">
                        <input matInput type="text" [readonly]="true" id="deedno" name="deedno" required placeholder="ඔප්පු අංකය (Deed No)"
                            [(ngModel)]="deedno" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-md-12">
                        <input matInput type="text" [readonly]="true" id="surveyname" name="surveyname" required
                            placeholder="මිනින්දෝරු නම (Surveyor Name)" [(ngModel)]="surveyname" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-md-12">
                        <input matInput type="text" [readonly]="true" id="landsize" name="landsize" required
                            placeholder="ඉඩමේ ප්‍රමාණය(Land Size)" [(ngModel)]="landsize" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-md-12">
                        <input matInput type="text" id="lotno" name="lotno" required placeholder="කැබලි අංකය (lot No)"
                            [(ngModel)]="lotno" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="col-md-12">
                        <input matInput type="text" id="purpose" name="purpose" required placeholder="හේතුව (Purpose)"
                            [(ngModel)]="purpose" />
                    </mat-form-field>
                    <br>

                </mat-card-content>
                <mat-card-actions align="right">
                    <button mat-raised-button type="submit" (click)="getslrefno()" color="primary" type="submit">Submit</button>
                </mat-card-actions>
            </mat-card>

            <br />
            <div *ngIf="xx">
                <!-- <img src="http://124.43.8.250:3032/sl_images/Street_line/100/Deed1.jpg" width="150px" height="200px">&nbsp;&nbsp;
                <img src="http://124.43.8.250:3032/sl_images/Street_line/100/Deed2.jpg" width="150px" height="200px">&nbsp;&nbsp;
                <img src="http://124.43.8.250:3032/sl_images/Street_line/100/Deed3.jpg" width="150px" height="200px">&nbsp;&nbsp;
                <img src="http://124.43.8.250:3032/sl_images/Street_line/100/Deed4.jpg" width="150px" height="200px">&nbsp;&nbsp;
                <img src="http://124.43.8.250:3032/sl_images/Street_line/100/Plan.jpg" width="150px" height="200px">&nbsp;&nbsp; -->
                <img src="https://chilawuc.cat2020.org/sl_img/Deed1.jpg" width="150px" height="200px">&nbsp;&nbsp;
                <img src="https://chilawuc.cat2020.org/sl_img/Deed2.jpg" width="150px" height="200px">&nbsp;&nbsp;
                <img src="https://chilawuc.cat2020.org/sl_img/Deed3.jpg" width="150px" height="200px">&nbsp;&nbsp;
                <img src="https://chilawuc.cat2020.org/sl_img/Deed4.jpg" width="150px" height="200px">&nbsp;&nbsp;
                <img src="https://chilawuc.cat2020.org/sl_img/Plan.jpg" width="150px" height="200px">&nbsp;&nbsp;
            
            </div>
            <br>
            <br>
            <!-- <mat-card>

        <div>
            <mat-form-field class="col-md-12">
                <input matInput type="text" disabled required placeholder="asdf asdf asdf " [(ngModel)]="orCus.cus_name_sinhala" />
            </mat-form-field>
            <br>
            <mat-form-field class="col-md-12">
                <input matInput type="text" disabled required placeholder="සහතික හිමිකරුගේ ලිපිනය (Certificate Owner Address)"
                    [(ngModel)]="appAddress" />
            </mat-form-field>
            <br>
            <mat-form-field class="col-md-12">
                <input matInput type="text" disabled required placeholder="සැලසුම් අංකය (Plan No)" [(ngModel)]="planno" />
            </mat-form-field>
            <br>
        </div>

    </mat-card> -->


        </mat-tab>
        <mat-tab label="Certificate">
            <mat-card class="example-card" class="col-md-12">
                <mat-card-header>
                    <mat-card-title>Youre Street Line Certificates</mat-card-title>
                    <!-- <mat-card-subtitle>Select Youre 
                    </mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>

            <div class="col-md-12">
                <div class="mat-elevation-z8">
                    <mat-table matSort [dataSource]="dataSource">

                        <!-- Name Column -->
                        <ng-container matColumnDef="slDate">
                            <mat-header-cell mat-sort-header *matHeaderCellDef> Date </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.slDate | date:'yyyy / MM / dd'}} </mat-cell>
                        </ng-container>


                        <!-- Name Column -->
                        <ng-container matColumnDef="cus_name_sinhala">
                            <mat-header-cell mat-sort-header *matHeaderCellDef> Owner Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.cus_name_sinhala}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="sl_reference_no">
                            <mat-header-cell mat-sort-header *matHeaderCellDef> Reference No </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.sl_reference_no}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="cus_mobile">
                            <mat-header-cell mat-sort-header *matHeaderCellDef> Owner Mobile </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.cus_mobile}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <!-- <ng-container matColumnDef="statuss">
                      <mat-header-cell mat-sort-header *matHeaderCellDef> Status </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.statuss}} </mat-cell>
                    </ng-container> -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="idStreetLine">
                            <mat-header-cell mat-sort-header *matHeaderCellDef>More Info</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-raised-button value="{{element.idStreetLine}}" (click)="getcertificate()">
                                    Print
                                </button></mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>



        </mat-tab>
        <!-- <mat-tab label="Third">Content 3</mat-tab> -->
    </mat-tab-group>



</div>