.container {
	display: flex;
	flex-direction: column;
}

.titleContainer {
	display: flex;
	align-items: center;
	height: 5vh;
	background-color: #494949;
	padding: 0 8px;
}

.titleContainer > h3 {
	color: white;
}

.progressTrackerContainer {
	height: 10vh;
}

.contentContainer {
	height: 80vh;
	overflow-y: scroll;
}

.footerContainer {
	height: 5vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #494949;
	padding: 0 8px;
}
