.container {
	display: flex;
	flex-direction: column;
}

.headerContainer {
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 12px;
	padding-right: 64px;
}

.headerContainer > div:first-child {
	height: 40px;
	display: flex;
	align-items: center;
}

.headerContainer > div:nth-child(2) {
	height: 60px;
	display: flex;
	align-items: flex-end;
}

.contentContainer {
	height: 77.7vh;
	overflow-y: scroll;
	margin: 12px 0;
}

.footerContainer {
	height: 60px;
	display: flex;
	align-items: center;
	padding-top: 12px;
	padding-right: 64px;
}
