<div class="container">

    <div class="row">

        <mat-accordion class="col-md-12">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Online Payment Steps
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ol>
                    <li>Request to map your property with online account</li>
                    <li>Wait for approval from your Local Authority.</li>
                    <li>Select your property and pay</li>
                </ol>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How to map my property with online account?
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ol>
                    <li>Click On "Map My Property" Button below</li>
                    <li>Fill Your Information</li>
                    <ul>
                        <li>Owner Name : Name of you assessment registration</li>
                        <li>Assessment ID : Kform Number</li>
                        <li>Street Name</li>
                        <li>Last Paid Recipt Number </li>
                        <li>Description </li>
                    </ul>

                    <li>Click On Submit button </li>
                    <li>Within two working days you will get the approval for the online payment. If not please contact
                        us.</li>
                </ol>


            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        How to pay ?
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ol>
                    <li>Select your more info button</li>
                    <li>Enter the value </li>
                    <li>Click on pay</li>
                    <li>Enter card details</li>
                </ol>


            </mat-expansion-panel>


        </mat-accordion>

    </div>
    <br><br>
  
    <div class="row">
        <mat-accordion class="col-md-12">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        වරිපනම් බදු මාර්ගගත ගෙවීම් සිදුකල යුතු පියවර 
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ol>
                    <li>ඔබගේ වරිපනම් දේපළ නිවැරදිව ඔබ ගේ ගෙවීම් ගිණුම සමග සම්බන්ද කල යුතුයි. ඒ සඳහා ඔබගේ දේපල පිළිබඳ විස්තර පළාත් පාලන ආයතනයට ලබාදිය යුතුයි.</li>
                    <li>ඔබගේ දේපල පළාත් පාලන ආයතනය මගින් අනුමත කරන තුරු ඔබට ගෙවීම් කිරීමට නොහැකි අතර පැය 48 ක කාලයක් තුලදී අනුමත කිරීම සිදුවේ.</li>
                    <li>අනුමත කල දේපල තෝරා ගෙවීම් සිදුකල හැකියි.</li>
                </ol>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        මාර්ගගත ගිණුමට වරිපනම් දේපල සම්බන්ද කිරීම
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ol>
                    <li>Map My Property සඳහන් ලේබලය මත් මවුසය ක්ලික් කරන්න.</li>
                    <li>පසුව පෙන්වනු ලබන අතුරු මුහුණතෙහි පහත සදහන් විස්තර ඇත්ලත් කරන්න.</li>
                    <ul>
                        <li>Owner Name : වරිපනම් ලේඛණයේ ඇති ආකාරයට අයිතිකරුගේ නම</li>
                        <li>Assessment ID : කේ පෝරම ලේඛණයේ ඇති අංකය</li>
                        <li>Street Name : දේපල ඇති වීදියේ නම </li>
                        <li>Last Paid Recipt Number : අවසාන ගෙවීම සිදුකල රිසිට්පතෙහි අංකය ඇත්නම් එය සඳහන් කරන්න) </li>
                        <li>Description : වෙනත් විස්තර ඇත්නම් ඇතුලත් කරන්න.  </li>
                    </ul>

                    <li>Submit ලෙස සඳහන් ඇති button එක මත මවුසය ක්ලික් කරන්න.  </li>
                    <li>දින 02 ක් ඇතුලත මෙම අනුමත කිරීම පළාත් පාලන ආයතනය විසින් සිදුකරනු ලබන අතර එසේ නොවුන හොත් අපගේ මාර්ගගත සේවා පාරිභෝගික අංශය අමතන ලෙස කරුණාවෙන් දන්වා සිටිමු.</li>
                </ol>


            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ගෙවීම් සිදුකිරීම 
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ol>
                    <li>ඔබගේ වරිපනම් දේපල ඉදිරියේ ඇති More info නැමති button එක මත ක්ලික් කරන්න.</li>
                    <li>පසුව පෙන්වනු ලබන අතුරු මුහුණතෙහි ඔබ විසින් ගෙවනු ලබන වටිනාකම ඇතුලත් කර Enter කරන්න. </li>
                    <li>පසුව Pay button එක ක්ලික් කරන්න</li>
                    <li>පසුව ඔබේ බැංකු ගෙවීම් පතෙහි විස්තර ඇතුලත් කරන්න. </li>
                </ol>


            </mat-expansion-panel>


        </mat-accordion>

    </div>


</div>